<div class="main-container" ng-init="getCourses();getCustomEntities();">
	<div class="entities-container">
		<uib-accordion close-others="true" class="acc-job">
	        <div uib-accordion-group class="panel acc-head" ng-repeat="(key,value) in customEntities" is-open="page.open" style="cursor:default;">
	            <uib-accordion-heading>
	                <div class="clearfix cust-entity-head">
	                    <p class="inline-middle">{{key}}</p class="inline-middle">
	                    <i class="pull-right fa fa-minus" ng-if="page.open"></i>
	                    <i class="pull-right fa fa-plus" ng-if="!page.open"></i> 
	                    <button type="text" class="blue-btn pull-right" ng-click="openentityModal(value.course_key);">ADD</button>
	                </div>
	            </uib-accordion-heading>
	            <div  class=" pos-relative">
	                <div class="text-left cust-entity" ng-repeat="entity in value.custom_entities">{{entity.custom_entity}}</div>
	            </div>
	        </div>
	    </uib-accordion>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="entityModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">ADD ENTITIES</h4>
				</div>
				<form name="enityForm">
					<div class="modal-body entity-form">
						<div class="ip-form-group clearfix">
							<span>Web Id</span>
							<input class="custom-ip" placeholder="Enter Custom Entity" type="text" required name="entity" ng-model="entityData.entity">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn blue-btn" ng-click="addEntity(enityForm,entityData)">Add</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</div>