

<div class="loader" ng-show="pageLoader">
    <img src="images/loader.gif" alt="" class="center-box">
</div>
 <div class="login-container">
    <div class="login-content">
        <p class="color-red">{{errorMsg}}</p>
        <form name="loginForm" >
             <p>
                <input name="name" type="text" placeholder="User name" required ng-model="user.name" >
            </p>
            <p>
                <input name="password" type="password" placeholder="Password" required ng-model="user.password">
            </p>
            <p>
                <button class="green-btn" ng-click="login(loginForm, user)">Login</button>
            </p>
            <p ui-sref="signup" class="cursor-pointer">Create account</p>
        </form>
    </div>
 </div>