

<div class="loader" ng-show="pageLoader">
    <md-progress-circular md-mode="indeterminate" class="center-box"></md-progress-circular>
</div>
 <div class="login-container">
    <div class="login-content">
        <form name="loginForm" >
             <p>
                <input name="name" type="text" placeholder="User name" required ng-model="user.name" autocomplete="new-password">
            </p>
            <p>
                <input name="password" type="password" placeholder="Password" required ng-model="user.password" autocomplete="new-password">
            </p>
            <p>
                <button class="blue-btn" ng-click="Login(loginForm,user)">Login</button>
            </p>
        </form>
    </div>
 </div>